{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>DjBouBou</h1>
    <h2>Présentation</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quod dolorem recusandae iure, consectetur repellat voluptates, aperiam odio eum in, sequi dolores. Facilis repellendus eius obcaecati commodi, reprehenderit aut dicta.</p>
{% endblock %}
