{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <main>
        <button type="button" class="btn btn-danger mt-2 ms-5">Danger</button>
      </a>
    </main>
{% endblock %}
