{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
    - Présentation
{% endblock %}

{% block body %}
    <main class="mt-5">
        <h1 class="mb-3">PrÉsentation</h1>
        <section class="d-flex flex-column flex-xl-row bg-white p-3 rounded shadow-sm">
            <img class="rounded w-md-25 mb-3 mb-lg-0" src="{{ asset('build/images/platine-dj.jpg') }}" alt="image platines">
            <div class="d-flex flex-column justify-content-center">
                <p class="ms-3">
                    Passionné de musique électronique depuis ma plus tendre enfance, à l'âge de mes 20 ans, je me suis mis à mixer devant mon bureau différents styles. Malgré mes efforts, je n'ai jamais réussi à poursuivre dans cette voix compliquée qu'est le monde de la nuit.</p>
            </div>
        </section>
        <section class="d-flex flex-column flex-xl-row bg-white p-3 rounded mt-3 shadow-sm">
            <div class="d-flex flex-column justify-content-center">
                <p class="me-3">Malheureusement, fort de mon âge avancé, je n'ai pu que rester dans ma chambre pour continuer ma passion.Aujourd'hui, je mix encore pour m'évader et me détendre lors des gros coups de pression que la vie nous donne.Ma famille apprécie le moment mais ne reste pas longtemps du fait du volume avancé.</p>
            </div>
            <img class="rounded w-md-25 mb-3 mb-lg-0" src="{{ asset('build/images/old-dj.jpg') }}" alt="old dj">
        </section>
        <section class="d-flex flex-column flex-xl-row bg-white p-3 rounded mt-3 shadow-sm">
            <img class="rounded w-md-25 mb-3 mb-lg-0" src="{{ asset('build/images/dj.jpg') }}" alt="dj">
            <div class="d-flex flex-column justify-content-center">
            <p class="ms-3">Aujourd'hui, la musique reste pour moi un moment d'apaisement même si cette dernière peut paraître violente ou dépassée.
                Je continue à me faire plaisir dans mon bureau et m'enregistre de temps en temps pour écouter et m'améliorer.
                Ayant déjà passé des concours, je n'ai plus le temps ni l'occasion d'en refaire mais j'en rêve encore.
                Poursuis ton chemin dans mon site pour voir si tu aimes ce style également et rejoins-moi en me contactant.</p>
                </div>
        </section>
    </main>
{% endblock %}
