<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand h1 fs-1 logo" href="{{ path('home') }}">Djboubou</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Présentation</a>
        <a class="nav-link" href="#">Makina</a>
        <a class="nav-link" href="#">Mes Vinyls</a>
        <a class="nav-link" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>