@import 'variables';
@import '~bootstrap/scss/bootstrap';

* {
    &:not(h1, h2) {
        font-family: $font-p;
        font-size: $font-size-p;
    }
}

body {
    background-color: $light;
}


main {
    min-height: 66vh;
}

h1,
h2 {
    font-family: 'shockwave', sans-serif;
    letter-spacing: $spacing;
}
