@import 'variables';

body {
    background-image: url("../images/contact-bg-min-grey.webp");
    background-size: cover;
}

.contact {
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 10px;
}