@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'shockwave';
    src: url('../fonts/Shockwave.ttf');
}

$primary: #2d3436;
$secondary: #fdcb6e;
$light: #dfe6e9;

$spacing: 6px;

$font-p: 'Roboto';
$font-size-p: 1.05em;