<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('build/images/android-chrome-512x512.png') }}" />
        <title>
            {% block title %}DjBouBou
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}{% endblock %}
        <div class="container pt-5">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
        </body>
    </html>
